<div class="header-section">
    <h2>Lista de Programadores</h2>
    <button routerLink="/admin/programadores/nuevo" class="btn-nuevo">
        + Nuevo Programador
    </button>
</div>

<div class="table-container">
    <table *ngIf="lista.length > 0">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Especialidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of lista">
                <td>
                    <img [src]="p.foto || 'assets/no-user.png'" alt="foto" width="50" style="border-radius: 50%;">
                </td>
                <td>{{ p.nombre }}</td>
                <td>{{ p.especialidad }}</td>
                <td>
                    <button [routerLink]="['/admin/programadores/editar', p.id]" class="btn-editar">
                        Editar
                    </button>

                    <button (click)="eliminar(p)" class="btn-eliminar">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <p *ngIf="lista.length === 0 && !cargando">No hay programadores registrados.</p>
</div>