<!-- Título con efecto de escritura permanente -->
<h2 class="typing-title">Lista de programadores</h2>

<!-- Botón moderno -->
<button 
    class="btn-nuevo"
    [routerLink]="['/admin/programadores/nuevo']">
    <i class="icon">➕</i> Nuevo programador
</button>

<table>
    <thead>
        <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Especialidad</th>
            <th>Github</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let p of lista">
            <td><img *ngIf="p.foto" [src]="p.foto" width="70"></td>
            <td>{{ p.nombre }}</td>
            <td>{{ p.especialidad }}</td>
            <td><a *ngIf="p.github" [href]="p.github" target="_blank">Github</a></td>
            <td>
                <button (click)="eliminar(p.id)" class="btn btn-danger">Eliminar</button>
                <button [routerLink]="['/admin/programadores/editar', p.id]" class="btn btn-primary">Editar</button>
                <button [routerLink]="['/admin/programadores', p.id, 'proyectos']" class="btn btn-info"> Proyectos</button>
            </td>
        </tr>
    </tbody>
</table>
