<h2>Editar Proyecto</h2>



<form [formGroup]="form" (ngSubmit)="guardar()">

    <label>
        Nombre:
        <input type="text" formControlName="nombre">
    </label>

    <label>
        Descripción:
        <textarea formControlName="descripcion"></textarea>
    </label>

    <label>
        Tipo de proyecto:
        <select formControlName="tipoProyecto">
            <option *ngFor="let t of tiposProyecto" [value]="t.valor">
                {{ t.label }}
            </option>
        </select>
    </label>

    <label>
        Tipo de participación:
        <select formControlName="tipoParticipacion">
            <option *ngFor="let t of tiposParticipacion" [value]="t.valor">
                {{ t.label }}
            </option>
        </select>
    </label>

    <label>
        Tecnologías usadas:
        <input type="text" formControlName="tecnologias" placeholder="Angular, Firebase, ...">
    </label>

    <label>
        Enlace al repositorio (GitHub, etc.):
        <input type="url" formControlName="repoUrl">
    </label>

    <label>
        Enlace a demo (Firebase, Vercel, etc.):
        <input type="url" formControlName="demoUrl">
    </label>

    <button type="submit" [disabled]="form.invalid">Guardar</button>
    <button type="button" [routerLink]="['/admin/programadores', idProgramador, 'proyectos']">
        Cancelar
    </button>
</form>